:root {
    scroll-behavior: smooth;
}

.body {
    background-color: #20232a;
    color: #fff;
    margin: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightcoral;
    width: 100%;
    box-shadow: 0 0 0.0625rem 0.0625rem #fff8;
}

.header-nav {
    padding: 1rem 0;
}

.header-container {
    display: flex;
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
}

.header-nav__link-logo-container {
    display: flex;
}

.header-nav__link-logo {
    width: 108px;
}

.header-nav__menu-list-container {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    gap: 1rem;
}

.header-nav__menu-link {
    color: rgb(3, 25, 47);
    position: relative;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.15s;
}

.header-nav__menu-link:hover,
.header-nav__menu-link--active {
    color: red;
}
.header-nav__menu-link::before{
    content:'';
    position: absolute;
    bottom: -0.125rem;
    width: 0;
    height: 0.0625rem;
    background-color: gold;
}
.header-nav__menu-link:hover::before, .header-nav__menu-link--active::before{
    width: 100%;
}